:root {
    --white: #F5FBEF;
    --pink: #E58F65;
    --black: #080708;
    --grey: #686963;
    --blue: #668586;
}

body {
    box-sizing: border-box;
    background-color: white;
    background-color: var(--white) !important;
    color: black;
    color: var(--black) !important;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow: scroll;
    height: 100%;
}

#title,
#eightballsays {
    font-weight: 700;
}

#eightballimg {
    z-index: 1;
}

#askbtn {
    width: 15%;
}

#footer {
    background-color: var(--black);
    margin-top: 10%;
}
#socialheader {
    color: grey;
    color: var(--grey);
}

.socialicon {
    margin: 0 10px;
}

