:root {
    --white: #F5E9E2;
    --blue: #6F8AB7;
    --navy: #04131F;
    --violet: #8D5A97;
}

* {box-sizing: border-box;}
body {
    background-color: black;
    background: radial-gradient(circle, #0b2030 12%, #04131f 100%);
    color: white;
    color: var(--white) !important;
    font-family: 'VT323', monospace !important;
    overflow: hide scroll;
    height: 100%;
}

#info {
    color: blue;
    color: var(--blue);
    letter-spacing: 1px;
    font-size: 13px;
}

#eightballimg {
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
#eightballsays {
    color: blue;
    color: var(--blue);
}
#eightballoutput {
    color: violet;
    color: var(--violet);
}
#input {
    border: 1px solid #6F8AB7;
    border-radius: 50px;
    font-size: 16px;
    background-color: transparent;
    color: blue;
    color: var(--blue);
    letter-spacing:  1px;
    min-width: 40% !important;
}
@media screen and (max-width: 576px) {
    #input {width: 60%;}
} 
#askbtn {
    border-radius: 50px;
    border: none;
    background-color: white;
    background-color: var(--white);
    color: var(--navy);
    transition: all .3s ease;
}
#askbtn:hover {
    background-color: blue;
    background-color: var(--blue);
    transition: all .3s ease;
}

#footer {
    background-color: black;
    background-color: var(--navy);
    margin-top: 10%;
}
#name { 
    text-decoration: none;
    color: blue;
    color: var(--blue);
    letter-spacing: 1px;
    transition: all .3s ease;
}
#name:hover {
    color: white;
    color: var(--white);
    transition: all .3s ease;
}
@keyframes squiggles {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 25% 100%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
#divider {
    padding-bottom: 1rem;
    background-image: url("squiggle.svg");
    background-repeat: repeat-x;
    background-size: 250px;
    background-position: 0% 100%;
    animation: squiggles 20s linear infinite forwards;
}
#socialheader {
    color: white;
    color: var(--white);
    text-decoration: none;
}
.socialicon { margin: 0 10px; }
@media (prefers-color-scheme: dark) {
    #askbtn {
        background-color: white;
        background-color: var(--white);
        color: var(--navy);
    }
    #askbtn:hover {
        background-color: blue;
        background-color: var(--blue);
    }
}